
<div class="comments">
  <% @comments.each do |comment| %>
  <div class="comment">
    <div class="body"><%= comment.body %></div>
    <div class="footer">
      <%= comment.user.email %>,
      <%= comment.created_at %>
    </div>
  </div>
  <% end %>
</div>
